*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}



header{
  display: flex;
  align-items: center;
  background-color: #DAA520;
  height: 80px;
  justify-content: space-between;
}

.container{
  /*display: flex; serve? */
  /*justify-content: space-between;*/
  /*justify-content: center;*/
  width: 80%;
  margin: 0 auto;
}


nav ul{
  text-align: center;
}
nav ul li{
  display: inline;
  list-style: none;
}


.jumbotron{
  background-color: #00008B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.jumbotron div{
  background-color:#F08080;
  height: 500px;
  width: 800px;
  border: 1px dashed black;
}

.sezione2{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

section .container2{
  background-color: rgb(242, 101, 246);
  height: 500px;
  width: 800px;
}

.container-base{
  display: flex;
  height: 400px;
  width: 1000px;
  background-color: black;
}

.container-base .container-sx{
  display: flex;
  width: 65%;
  background-color: #1E90FE;
  border: 1px dashed black;
}

.container-base .container-dx{
  display: flex;
  width: 35%;
  background-color: #FFC1CB;
  border: 1px dashed black;
}

.sezione3{
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.container-base .container-sx2{
  display: flex;
  width: 35%;
  background-color: #FFC1CB;
  border: 1px dashed black;
}

.container-base .container-dx2{
  display: flex;
  width: 65%;
  background-color: #1E90FE;
  border: 1px dashed black;
}

.sezione5{
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.container-base5{
  display: flex;
  height: 90%;
  width: 1000px;
  background-color: #228B22;
  border: 1px dashed black;
}

.sezione-footer{
  background-color:#23272A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-bottom: 1px solid white;
}

.sezione-footer .container-base-footer{
  display: flex;
  height: 95%;
  width: 1000px;
  background-color: black;
}

.container-base-footer .box1{
  display: flex;
  width: 30%;
  background-color: #F08080;
  border: 1px dashed black;
  
}

.container-base-footer .box2{
  display: flex;
  width: 17.5%;
  background-color: #20B2AA;
  border: 1px dashed white;
}

.container-base-footer .box3{
  display: flex;
  width: 17.5%;
  background-color: #20B2AA;
  border: 1px dashed white;
}

.container-base-footer .box4{
  display: flex;
  width: 17.5%;
  background-color: #20B2AA;
  border: 1px dashed white;
}

.container-base-footer .box5{
  display: flex;
  width: 17.5%;
  background-color: #20B2AA;
  border: 1px dashed white;
}

.sezione-footer2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #23272A;
  height: 80px;
}

.container-base-footer2{
display: flex;
height: 80%;
width: 1000px;
background-color:#7FFFD4;
justify-content: flex-end;
justify-content: space-between;
align-items: center;
}

.logo{
  background-color: #FEB6C1;
  border: 1px dashed black;
}

.bottone{
  background-color: #FEB6C1;
  border: 1px dashed black;
}

/* 
.debug{
  border: 1px dashed black;
}

.debug .nome-sezione{
background-color: lightblue;
}

.debug .sezione-2{
  background-color: lightblue;
  }

.debug header{
  background-color: orange;
}

.debug .logo-header{
  border: 1px dashed black;
} */