*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  align-items: center;
  background-color: #DAA520;
  height: 80px;
  justify-content: space-between;
}

nav ul li{
  display: inline;
  list-style: none;
  text-align: center;
}

img{
  max-width: 100%;
}

.topbar{
  background-color: #1E90FE;
  height: 100px;
}

.topbar .container{
  justify-content: space-between;
  align-items: center;
  height:100px;
  
}

.topbar .menu{
  width: 50%;
}

.jumbotron{
  justify-content: center;
  align-items: center;
  background-color: #20B2AA;
  height: 630px;
}

.jumbotron.content{
  max-width: 950px;
  height: 380px;   height: 100%;

}

/* MAIN */

main section{
  padding: 150px 0;
  height: 900px;
}

main section .container{
  height: 100%;
}



.container{
  /*display: flex; serve? */
  /*justify-content: space-between;*/
  /*justify-content: center;*/
  width: 80%;
  margin: 0 auto;
}

.jumbotron{
  background-color: #00008B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.jumbotron div{
  background-color:#F08080;
  height: 500px;
  width: 800px;
  border: 1px dashed black;
}

.luogo{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.container-base{
  display: flex;
  height: 600px;
  width: 1000px;
  background-color: black;
}

.luogo .container-base .box-image{
  width: 65%;
  background-color: #1E90FE;
  border: 1px dashed black;
}

.luogo .container-base .box-text{
  width: 35%;
  background-color: #FFC1CB;
  border: 1px dashed black;
}

.dove{
  background-color: #D3D3D3;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.dove .container-base .box-image{
  width: 65%;
  background-color: #1E90FE;
}

.dove .container-base .box-text{
  width: 35%;
  background-color: #FFC1CB;
}

.tecnologia{
  display: flex;
  background-color: #D3D3D3;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.container-base-tecno{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 1000px;
  background-color: #228B22;
}

.sezione-footer{
  background-color:#23272A;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-bottom: 1px solid white;
}

.sezione-footer .container-base-footer{
  height: 95%;
  width: 1000px;
  background-color: black;
}

.container-base-footer .box-social{
  width: 30%;
  background-color: #F08080;
  border: 1px dashed black;
  
}

.container-base-footer .info-box{
  width: 17.5%;
  background-color: #20B2AA;
  border: 1px dashed white;
}

.footer-bottom{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #23272A;
  height: 80px;
}

.container-base-footer-bottom{
  height: 80%;
  width: 1000px;
  background-color:#7FFFD4;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background-color: #FEB6C1;
}

.bottone{
  background-color: #FEB6C1;
}

.d-flex{
  display: flex;
}

.bordo{
  border: 1px dashed black; 
}





/* 
.debug{
  border: 1px dashed black;
}

.debug .nome-sezione{
background-color: lightblue;
}

.debug .sezione-2{
  background-color: lightblue;
  }

.debug header{
  background-color: orange;
}

.debug .logo-header{
  border: 1px dashed black;
} */

prof

/* body{
  background-color: #FFF;
}

ul{
  list-style: none;
}

.container{
  width: 99%;
  max-width: 1400px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.debug{
  background-color: red;
  border: 1px solid black;
}

.bg-grey{
  background-color: #D3D3D3;
}
.debug div,
.debug nav{
  border: 1px solid black;
}

/* header */